<!DOCTYPE html>
<html>
    <head>
        <title><%= title %> - <%= page %></title>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css'/>
        <link rel='stylesheet' href='../../stylesheets/style.css'/>
    </head>
    <body>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
        <script><% include include/buyfav.js %></script>

        <!-- Creates the menubar as defined in menubar-src -->
        <% include include/menubar.ejs %>

        <!-- Page Content -->
        <div class="container">
            <h1><%= page %></h1>

            <div id="addedToCart" class="alert alert-success" role="alert" hidden="true">Item added to cart!</div>

            <div class="row">
                <% if(items.length == 0){ %>
                    <p>Nothing in favourites</p>
                <%} else {%>
                    <% items.forEach(function(item) { %>
                        <div class="col-sm-6 col-md-4 fav-item">
                            <div class="thumbnail">
                                <a class="entry" href="../browse/item/<%= item.id %>">
                                    <img class="img-responsive" src="../browse/image/<%= item.id %>" alt="">
                                </a>
                                <div class="caption">
                                    <h3><%= item.title %></h3>
                                    <button type="button" class="btn btn-success btn-lg fav-button" onclick="addToCart(<%=JSON.stringify(item.id)%>)">Add to cart</button>
                                    <br>
                                    <button type="button" class="btn btn-default fav-button" onclick="removeFromFavourites(<%=JSON.stringify([item.id, item.title, "fav"])%>)">
                                        Remove from Favourites
                                    </button>
                                </div>
                            </div>
                        </div>
                    <% }); %>
                <% } %>
            </div>
        </div>
    </body>
</html>