<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <title><%= title %> - <%= page %></title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css'/>
    <link rel='stylesheet' href='stylesheets/style.css'/>
</head>
<body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

<!-- Creates the menubar as defined in menubar-src -->
<% include include/menubar.ejs %>

<!-- Page Content -->
<div class="container">
    <% include include/carousel.ejs %>
    <div class="well">
        <h1>Welcome to <%= title %></h1>
        <h3>Browse and purchase products and register to become a seller! Join <%=users%> other Expressaholics selling <%=itemCount%> items today!</h3>
    </div>

    <div class="panel panel-primary">
        <div class="panel-heading">
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-4" style="text-align:center"><h4>Browse items</h4></div>
                <div class="col-sm-4" style="text-align:center"><h4>Save favourites</h4></div>
                <div class="col-sm-4" style="text-align:center"><h4>Search stuff</h4></div>
            </div>
            <div class="row">
                <div class="col-sm-4"></div>
                <div class="col-sm-4" style="text-align:center"><h4><a href="/register">Join us today!</a></h4></div>
                <div class="col-sm-4"></div>
            </div>
        </div>
    </div>
</div>

</body>
</html>