<!DOCTYPE html>
<html>
    <head>
        <title><%= title %> - <%= page %></title>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css'/>
        <link rel='stylesheet' href='../../stylesheets/style.css'/>
    </head>
    <body>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
        <script><% include include/buyfav.js %></script>

        <!-- Creates the menubar as defined in menubar-src -->
        <% include include/menubar.ejs %>

        <ul class="breadcrumb">

            <% category.forEach(function(subcat) { %>
            <li><a href="#"><%=subcat%></a></li>
            <% }); %>

        </ul>

        <!-- Page Content -->
        <div class="container">
            <img class="img-responsive item-image" src="../image/<%= id %>" width="30%" alt="">
            <div class="item-info">
                <h1><%= page %></h1>
                <h2>$<%= price %></h2>
                <fieldset class="form-group">
                    <label for="quantity">Quantity</label>
                    <input type="number" class="form-control item-quantity" id="quantity" name="quantity" min="1" step = "1" value="1">
                </fieldset>
                <button type="button" class="btn btn-success btn-lg item-button" onclick="addToCart(<%=JSON.stringify(id)%>)">Add to cart</button>
                <br>
                <button type="button" class="btn btn-default item-button favourite" onclick="addToFavourites(<%=JSON.stringify([id, page])%>)" hidden="true">
                    <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
                    Favourite
                </button>
                <button type="button" class="btn btn-default item-button unfavourite" onclick="removeFromFavourites(<%=JSON.stringify([id, page])%>)" hidden="true">
                    Remove from Favourites
                </button>
                <hr>
                <pre><%= description %></pre>
            </div>
        </div>
    </body>
</html>