<!DOCTYPE html>
<html>
    <head>
        <title><%= title %> - <%= page %></title>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css'/>
        <link rel='stylesheet' href='../../stylesheets/style.css'/>
    </head>
    <body>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
        <script>
            function addToCart(itemID){
                alert("Item added");
            }
        </script>

        <!-- Creates the menubar as defined in menubar-src -->
        <% include include/menubar.ejs %>

        <!-- Page Content -->
        <div class="container">
            <h1><%= page %></h1>
            <img class="img-responsive item-image" src="../image/<%= id %>" width="300px" alt="">
            <h2>Description</h2>
            <p><%= description %></p>
            <p>$<%= price %></p>
            <button onclick="addToCart(id)">Add to cart</button>
        </div>
    </body>
</html>