<!DOCTYPE html>
<html>
<head>
    <title><%= title %> - <%= page %></title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css'/>
    <link rel='stylesheet' href='../../stylesheets/style.css'/>
    <% include include/fonts.ejs%>
</head>
<body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script><% include include/buyfav.js %></script>

<!-- Creates the menubar as defined in menubar-src -->
<% include include/menubar.ejs %>

<!-- Page Content -->
<div class="container">
    <h1><%= page %></h1>

    <div id="addedToCart" class="alert alert-success" role="alert" hidden="true">Item added to cart!</div>

    <div class="row">
        <% if(items.length == 0){ %>
            <p class = "results">No Search Results for '<%= query %>'</p>
        <%} else {%>
            <p class = "results">Browsing search results <%=start+1%>-<%=start+items.length%> of <%=count%> listings</p>
            <% items.forEach(function(item) { %>
                <div class="col-lg-3 col-md-4 col-xs-12" id = entry>
                    <a class="entry" href="/browse/item/<%= item._id %>">
                        <div class="image-wrap">
                            <img src="/browse/image/<%= item._id %>" alt="">
                        </div>
                    </a>
                    <p class = item><%= item.title %></p>
                    <p class = stock>In Stock: <%= item.stock %></p>
                    <p class =price>$<%= item.price %></p>
                    <button type="button" class="btn btn-success btn-lg fav-button" onclick="addToCart(<%=JSON.stringify(item.id)%>)">Add to cart</button>
                </div>
            <% }); %>
        <% } %>
    </div>
</div>
</body>
</html>