<!DOCTYPE html>
<html>
	<head>
		<title><%= title %> - <%= page %></title>
		<link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css'/>
		<link rel='stylesheet' href='/stylesheets/style.css'/>
		<% include include/fonts.ejs%>
	</head>
	<body>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

	<script>

		//http://demo.solemone.de/overflow-image-with-vertical-centering-for-responsive-web-design/
		$(document).ready(function() {
	 
	    var imageHeight, wrapperHeight, overlap, container = $('.image-wrap');  
	 
	    function centerImage() {
	        imageHeight = container.find('img').height();
	        wrapperHeight = container.height();
	        overlap = (wrapperHeight - imageHeight) / 2;
	        container.find('img').css('margin-top', overlap);
	    }
	     
	    $(window).on("load resize", centerImage);
	 
	});
	</script>

	<%String.prototype.capitalize = function() {
		return this.charAt(0).toUpperCase() + this.slice(1);
	}%>

	<script><%include include/categories.js%></script>

	<!-- Creates the menubar as defined in menubar-src -->
	<% include include/menubar.ejs %>


    <!--Upload some images via sell then check this out! -->
	<div class="container">

		<div class="row">

			<div class="col-lg-12" id = header>
				<h1 class="page-header" style ="font-family: 'Raleway', sans-serif"><%=title%></h1>
			</div>

			<!-- Page Content -->
			<ul class="breadcrumb">
				<li><a href="/">Home</a></li>
				<% for (var i = 0; i < categories.length; i++){%>
				<%var params = url.substring(url.indexOf('?')+1);%>
					<li><a href="/browse
					<% for (var j =0; j <= i; j++){%>
						/<%=categories[j].replace(new RegExp(' ', 'g'), '-').toLowerCase()%>
					<%}%>
						/1?<%=params%>"><%=categories[i]%></a></li>

				<%}%>
			</ul>

			<%if(subcats.length > 0){%>
			<div class="panel-group">
			    <div class="panel panel-default">
			      <div class="panel-heading">
			        <h4 class="panel-title">
			          <a data-toggle="collapse" href="#collapse1">Show subcategories</a>
			        </h4>
			      </div>
			      <div id="collapse1" class="panel-collapse collapse">
			        <ul class="list-group">
			         <% subcats.forEach(function(subcategory) { %>
			          	<% var subcatURL = subcategory.replace(new RegExp(' ', 'g'), '-').toLowerCase();%>
			          	<%var params = url.substring(url.indexOf('?')+1);%>
						 <li class="list-group-item"><a href="./<%=subcatURL%>/1?<%=params%>"><%=subcategory%></a></li>
            		  <% }); %>
			        </ul>
			      </div>
			    </div>
			  </div>
			  <%}%>

			<p class = "result pull-left">Browsing <%=start+1%>-<%=start+items.length%> of <%=count%> listings</p>

			<!-- Single button -->
			<div class="btn-group pull-right">
			  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			    Sort <span class="caret"></span>
			  </button>
			  <ul class="dropdown-menu">
			    <li><a href="?sortMethod=timestamp&sortOrder=-1">Newest First</a></li>
			    <li><a href="?sortMethod=timestamp&sortOrder=1">Oldest First</a></li>
			    <li><a href="?sortMethod=price&sortOrder=1">Lowest Price</a></li>
			    <li><a href="?sortMethod=price&sortOrder=-1">Highest Price</a></li>
			    <li><a href="?sortMethod=stock&sortOrder=-1">Most Stock First</a></li>
			     <li><a href="?sortMethod=stock&sortOrder=1">Least Stock First</a></li>
			    <li><a href="?sortMethod=title&sortOrder=1">A-Z</a></li>
			    <li><a href="?sortMethod=title&sortOrder=-1">Z-A</a></li>
			  </ul>
			</div>

			<div class ="row"></div>

            <% items.forEach(function(item) { %>
            <div class="col-lg-3 col-md-4 col-xs-12" id = entry>
                <a class="entry" href="/browse/item/<%= item._id %>">
                	<div class="image-wrap">
                   <img src="/browse/image/<%= item._id %>" alt="">
            		   </div>
                </a>
                <p class = item><%= item.title %></p>
                <p class = stock>In Stock: <%= item.stock %></p>
                <p class =price>$<%= item.price %></p>
            </div>
            <% }); %>



		</div>

		<ul class="pagination">
			<% for (var i =0; i < count/20; i++){%>
				<%var params = url.substring(url.indexOf('?')+1);%>
				<li><a href="./<%=i+1%>?<%=params%>"><%=i+1%></a></li>
			<%}%>
		</ul>


    </div>
	</body>
</html>